body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cecece;
}

#timer {
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#dovr {
    margin-top: 20px;
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

#dovr > div {
    margin-bottom: 5px;
}

.lap-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
